.word {
    display: flex;
    gap: .25em;
    margin-top: 20px;

    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
}

.letter-border {
    border-bottom: .1em solid white;
}